<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>成钞公司2016年度绩效测评</title>
	<link rel="stylesheet" href="assets/css/index.css">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
  	<h2 class="title">中层正职<span>（高层评价）</span></h2>
    <div class="content">说明：本轮最多评选6位优秀，6位良好。</div>
    <div id="app">
      <div v-for="user,idx in users">
        <div class="card">
          <div class="card-header">
            <span>{{idx+1}}</span>.{{user.name}}
            <span class="depart">{{user.dpt}}</span>
          </div>
          <div class="card-content">
            <p class="desc">{{user.desc}}</p>
            <div class="list">
               <el-radio-group v-model="user.value">
                  <el-radio-button v-for="item in scoreList" :label=item.value>{{item.label}}</el-radio-button>
                </el-radio-group>
            </div>
            <p class="votenum">优秀:<span :class="{'warnning':curLimit.excellent>2}">{{curLimit.excellent}}</span> /6,良好:<span :class="{'warnning':curLimit.good>2}">{{curLimit.good}}</span>/6</p>
          </div>
        </div>
      </div>
      <div class="submit">
        <button class="button" @click="submit">提交</button>
        <button class="button" @click="back">返回</button>
      </div>
    </div>
	<script src="assets/js/index.js"></script>
</body>
</html>